.modal {
  $inner-modal-margin-bottom: 20px;

  .inner {
    padding: 20px;
    min-width: 300px;
  }

  .title {
    text-align: center;
    margin-bottom: $inner-modal-margin-bottom;
    padding: 0;
  }

  .component {
    margin-bottom: $inner-modal-margin-bottom;
    padding: 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: $inner-modal-margin-bottom;
  }
}
