@import '../../../scss/variables.scss';

.issue_card {
  box-sizing: border-box;
  padding: 5px 10px 10px 10px;
  flex-basis: calc((800px - 30px) / 3);
  max-width: 280px;
  margin: 0 5px 10px 5px;
  background-color: #7ecfc9;
  transition: 0.15s ease-out;
  box-shadow: 0 0.3rem 0.5rem #6451838a;
  border-radius: 7px;
  font-size: 20px;
  font-family: 'Montserrat';
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  overflow: hidden;
  min-height: 70px;
  position: relative;
}

.issue_info {
  flex-direction: column;
  flex: 0 0 55%;
  margin-right: 10px;
}

.column_mode {
  flex-basis: auto;
  padding: 5px 10px;
  cursor: pointer;

  .issue_info {
    flex: 0 0 auto;
  }
}

.current_issue {
  color: #22485c;
  background: #facf24;
  cursor: inherit;
}

.current {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: 5px;
}

.title {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  max-width: 155px;
  overflow: hidden;
}

.priority {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  padding-top: 5px;
  overflow: hidden;
  max-width: 140px;
}

.buttons_wrapper {
  display: flex;
  font-size: 16px;
}

.dash {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: 'Dancing Script', serif;
}

.not_clickable {
  pointer-events: none;
  cursor: inherit;
}

.top {
  display: flex;
  align-items: center;
}
