@import '../../../scss/variables.scss';

.issueCard {
  box-sizing: border-box;
  padding: 10px;
  flex-basis: calc((700px - 30px) / 3);
  margin: 0 5px 10px 5px;
  background-color: #7ecfc9;
  transition: 0.15s ease-out;
  box-shadow: 0 0.3rem 0.5rem #6451838a;
  border-radius: 7px;
  font-size: 20px;
  font-family: 'Montserrat';
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  min-height: 70px;
}

.column_mode {
  .issueCard {
    flex-basis: auto;
  }
}

.issueInfo {
  display: flex;
  flex-direction: column;
  flex: 0 0 65%;
}

.currentIssue {
  color: #22485c;
  background: #facf24;
}

.current {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.title {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.priority {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  padding-top: 5px;
}
