@import '../../../scss/variables.scss';

.btn {
    height: 40px;
    width: 200px;
    border-radius: 7px;
    font-size: 18px;
    font-family: "Montserrat";
    box-shadow: $shadow;
    cursor: pointer;
}