.add_issues {
  box-sizing: border-box;
  padding: 15px 10px;
  flex-basis: calc((800px - 30px) / 3);
  margin: 0 5px 10px 5px;
  background-color: #49aaa3;
  transition: 0.15s ease-out;
  box-shadow: 0 0.3rem 0.5rem #6451838a;
  border-radius: 7px;
  font-size: 20px;
  font-family: 'Montserrat';
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  min-height: 70px;
  position: relative;

  p {
    margin: 0;
  }
}

.tooltip {
  top: -115%;
  right: -10px;
}

.input {
  display: none;
}

.label {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;

  .image {
    width: 30px;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.label:hover ~ .example {
  display: block;
}

.table {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  span {
    padding: 5px 0;
    border-right: 1px solid #2d5b74;
    text-align: center;

    &:nth-child(3) {
      border-right: none;
    }
  }
}
