@import '../../../../scss/variables.scss';

.chatBtn {
    position: relative;
    cursor: pointer;
    transition: .4s;
    background: transparent;
    border: none;
    margin-right: 50px;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(.9);
    }
    .chatIco {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
    }
    .newMessagesIndicator {
        position: absolute;
        top: 0;
        left: 32px;
        background: $red;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        animation: pulsate .8s linear infinite;

        @keyframes pulsate {
            100% { background-color: #b61e1e }
        }
    }   
}