@import '../../../scss/variables';

.footer.main {
  height: 100px;
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;

  .githubIcos {
    position: absolute;
    bottom: 50%;
    transform: translate(-50%, 50%);
    left: 50%;
    display: flex;
    flex-direction: row;

    .githubIco {
      margin: 0 10px;
    }
  }
  .youtubeLink {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 50px;
  }
  .rsSchoolLink {
    position: absolute;
    bottom: 50%;
    left: 50px;
    transform: translateY(50%);
  }


}
.footer.lobby,
.footer.game,
.footer.settings {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  background: $light-yellow;
  align-items: center;
  padding: 20px 100px;
  justify-content: space-between;
  height: 70px;
  box-sizing: border-box;
  .githubIcos {
    width: 120px;
    display: flex;
    justify-content: space-between;
  }
  .rsSchoolLink {
    position: relative;
  }
}
.youtubeLink {
  img {
    border-radius: 8px;
    box-shadow: $shadow;
    width: 40px;
  }
}

.rsSchoolLink {
  img {
    width: 120px;
  }
  span {
    color: $base-text-color-2;
    font-weight: bolder;
    font-size: 24px;
    font-family: $font-family-second;
    position: absolute;
    top: 18px;
    left: 130px;
  }
}

.githubIco {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: black;
  background-image: url(../../../assets/githubIco.png);
  background-position: center;
  background-size: 30px;
  box-shadow: 0 0.3rem 0.5rem #211b588a;
  cursor: pointer;
  transition: .4s;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(.9);
  }
}