@import '../../scss/variables.scss';

.chatField {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: $base-text-color-2;
  font-family: $font-family-second;
  .chat {
    padding: 10px;
    width: 500px;
    border: 1px solid black;
    margin-top: 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
  }
}
.messagesField {
  display: flex;
  flex-direction: column;
  width: 100%;
  .messageField {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .message {
      margin: 0;
      box-sizing: border-box;
      width: calc(100% - 200px - 10px);
      border-bottom: 2px solid $emerald;
      min-height: 70px;
    }
  }
}

.sendMessageField {
  font-family: $font-family-second;
  color: #2d5b74;
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
