@import '../../../scss/variables';

.fileInput {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.label {
    color: $base-text-color-2;
    font-family: $font-family-second;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $blue;
    display: inline-block;
    padding: 2px;
    cursor: pointer;
    box-shadow: $shadow;
    height: fit-content;
}

.wrap {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.tooltip {
  left: -70%;
  top: -100%;
}

.errorMessage {
  font-size: 12px;
  color: $error-color;
  position: absolute;
  bottom: -5px;
}
