@import '../../../scss/variables';

.card {
  width: 90px;
  height: 140px;
  border-radius: 7px;
  box-shadow: $shadow;
  box-sizing: border-box;
  margin-right: 10px;
  color: $base-text-color-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  .pointField {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-family: $font-family-second;
    background: rgba(255, 255, 255, 0.596);
    text-transform: uppercase;
    color: $base-text-color-2;
  }
  .img {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.274);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-second;
    color: white;
    font-size: 36px;
    .coffeeCard {
      width: 70px;
      height: 70px;
    }
  }
  .type {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-family: $font-family-first;
    background: rgba(255, 255, 255, 0.377);
  }
  &:nth-child(1) {
    background: $yellow;
  }
  &:nth-child(2) {
    background: $light-emerald;
  }
  &:nth-child(3) {
    background: $emerald;
  }
  &:nth-child(4) {
    background: $blue;
  }
  &:nth-child(5) {
    background: $light-blue;
  }
  &:nth-child(6) {
    background: $light-yellow;
  }
}

.card.size {
  justify-content: space-between;
  .img {
    height: 80px;
    width: 80px;
  }
  &:nth-child(2) {
    .shirt {
      width: 60px;
      height: 60px;
    } 
  }
  &:nth-child(3) {
    .shirt {
      width: 80px;
      height: 80px;
    }
  }
  &:nth-child(4) {
    .shirt {
      width: 100px;
      height: 100px;
    }
  }
  &:nth-child(5) {
    .shirt {
      width: 120px;
      height: 120px;
    } 
  }
  &:nth-child(6) {
    .shirt {
      width: 140px;
      height: 140px;
    }
  }
}

.card.storyPoint {
  justify-content: flex-end;
  .img {
    background: rgba(255, 255, 255, 0.685);
    margin-bottom: 10px;
    color:$base-text-color-2;
    border: 3px solid white;
  }
  &:nth-child(1) {
    background: $yellow;
    .img {
      background: rgba(255, 255, 255, 0.315);
      height: 80px;
      width: 80px;
    }
  }
  &:nth-child(2) {
    background: url(../../../assets/Новаяпапка/01.jpg);
    background-size: cover;
    background-position: center;
    .img {
      height: 45px;
      width: 45px;
    }
  }
  &:nth-child(3) {
    background: url(../../../assets/Новаяпапка/02.jpg);
    background-size: cover;
    background-position: center;
    .img {
      height: 50px;
      width: 50px;    
    }
  }
  &:nth-child(4) {
    background: url(../../../assets/Новаяпапка/03.jpg);
    background-size: cover;
    background-position: center;
    .img {
      height: 60px;
      width: 60px;
    }
  }
  &:nth-child(5) {
    background: url(../../../assets/Новаяпапка/04.jpg);
    background-size: cover;
    background-position: center;
    .img {
      height: 70px;
      width: 70px;
    }
  }
  &:nth-child(6) {
    background: url(../../../assets/Новаяпапка/05.jpg);
    background-size: cover;
    background-position: center;
    .img {
      height: 80px;
      width: 80px;
    }
  }
}

.card.calories {
  justify-content: space-between;  
  .img {
    height: 80px;
    width: 80px;
    background: transparent;
    .food {
      width: 80px;
      height: 80px;
    }
  }
}
.disabled {
  pointer-events: none;
  opacity: .5;
}
.votedCard {
  opacity: 1;
  border: 2px solid green;
}