@import '../../../scss/variables.scss';

.settingsSelect {
  font-family: $font-family-second;
  font-size: 18px;
  font-weight: 400;
  display: block;
  width: 150px;
  padding: 0 0 0 10px;

  & > select:focus {
    background: transparent;
  }
}