@import '../../../../scss/variables.scss';

.btn {
  height: 40px;
  width: 200px;
  border-radius: 7px;
  font-size: 18px;
  font-family: 'Montserrat';
  box-shadow: $shadow;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .buttonContent {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 12px;
    }
  }
}

.btn_colored {
  background: $blue;
  border: 2px solid $blue;
  color: whitesmoke;
  transition: 0.4s;
  &:hover {
    background: $dark-blue;
  }
  &:active {
    transform: scale(0.9);
  }
}

.btn_bordered {
  background: whitesmoke;
  border: 2px solid $dark-blue;
  color: $dark-blue;
  transition: 0.4s;
  &:hover {
    background: $light-blue;
  }
  &:active {
    transform: scale(0.9);
  }
}
.btn_colored:disabled,
.btn_bordered:disabled {
  background: rgba(128, 128, 128, 0.452);
  border: 2px solid grey;
  cursor: auto;
  pointer-events: none;
}

.content {
  flex: 1 1 auto;
  text-align: center;
}

.loader {
  flex: 0 0 auto;
}

.not_clickable {
  pointer-events: none;
  opacity: 0.7;
}
