@import '../../../scss/variables';

.registrField {
  width: 100%;
  background: #e0c7ad54;
  height: 220px;
  font-family: $font-family-second;
  color: $base-text-color-2;
  padding: 50px 0;
  .registrEl {
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    p {
      width: calc(100% - 200px);
    }
  }
}
