@import '../../../scss/variables';

.registrField {
  width: 100%;
  background: #e0c7ad54;
  height: 70%;
  font-family: $font-family-second;
  color: $base-text-color-2;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  text-align: center;

  @media (max-width: $s-screen) {
    height: 80%;
  }

  @media (max-width: $xs-screen) {
    height: 100%;
    padding: 0 50px;
  }

  .registrEl {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    font-size: 24px;
    text-align: center;

    @media (max-width: $s-screen) {
      align-items: flex-start;
      padding: 0 155px 0 25px;
      width: 100%;
      text-align: left;
    }

    @media (max-width: $xs-screen) {
      padding: 0 150px 0 0;
    }

    &:first-child {
      margin-bottom: 35px;
    }

    p {
      width: calc(100% - 100px);

      @media (max-width: $s-screen) {
        width: 100%;
      }
    }
  }
}
