@import '../../../scss/variables.scss';

.userIco {
  border-radius: 50%;
  background: $emerald;
  box-shadow: $shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $base-text-color-2;
  font-family: $font-family-second;
  color: white;
  flex-shrink: 0;
  .userImg {
    margin: 0;
    border-radius: 50%;
  }
}
.userIco.big {
  width: 60px;
  height: 60px;
  .userImg {
    width: 57px;
    height: 57px;
  }
}
.userIco.small {
  width: 40px;
  height: 40px;
  .userImg {
    width: 37px;
    height: 37px;
  }
}
.nonActiveUser {
  background-color: grey;
}

