@import '../../scss/variables';

.registerForm {
    display: flex;
    flex-direction: column;
    .userIcoField {
        max-width: 240px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
        margin-left: calc(100% - 240px - 10px);
    }
}