.issue_list {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.title {
  text-align: center;
  margin: 0 0 50px 0;
  font-family: 'Dancing Script', serif;
  font-size: 36px;
  font-weight: normal;
  color: #1b3949;
}
