@import '../../scss/variables.scss';

.footer.main {
  position: absolute;
  top: 600px;
  left: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  .githubIco {
    margin-bottom: 10px;
  }
}
.footer.lobby,
.footer.game,
.footer.settings {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  background: $light-yellow;
  align-items: center;
  padding: 20px calc((100% - 120px) / 2);
  justify-content: space-between;
}

.githubIco {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: black;
  background-image: url(../../assets/githubIco.png);
  background-position: center;
  background-size: 30px;
  box-shadow: 0 0.3rem 0.5rem #211b588a;
  cursor: pointer;
  transition: .4s;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(.9);
  }
}