@import '../../../scss/variables.scss';

.messagesField {
  display: flex;
  flex-direction: column;
  width: 100%;
  .messageField {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .message {
      margin: 0;
      box-sizing: border-box;
      width: calc(100% - 200px - 10px);
      border-bottom: 2px solid $emerald;
      min-height: 70px;
    }
  }
  .currentUser {
    background-color: #49aaa41c;
  }
}
