@import '../../../scss/variables.scss';
@import '../../../scss/style.scss';

.container {
  display: flex;
  width: 100%;
}
  
.containerSloganField {
  position: relative;
  width: 60%;
  height: 510px;
  background: url(../../../assets/base-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  
.slogan {
  position: absolute;
  top: -120px;
  left: 50px;
  width: 80%;
  font-size: 36px;
  font-family: $font-family-second;
  color: $base-text-color-2;
  margin: 0;
}

.markBold {
  font-weight: bolder;
  color: #286965;
  background: #f7de7ba9;
}

.markItal {
  font-style: italic;
  font-size: 38px;
  color: #295972;
}

.containerMainField {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.palette {
  position: absolute;
  top: -70px;
  left: calc(100% - 70px - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Dancing Script';
  color: #22485c;
  box-shadow: 0 0.3rem 0.5rem #211b588a;
  position: relative; 
  span {
    position: absolute;
    top: 0;
    left: -30px;
  }
  &:nth-child(1) {
    background: $light-yellow;
  }
  &:nth-child(2) {
    background: $emerald;
  }
  &:nth-child(3) {
    background: $light-emerald;
  }
  &:nth-child(4) {
    background: $light-blue;
  }
  &:nth-child(5) {
    background: $blue;
    margin-bottom: 50px;
  }
}


