.title {
  text-align: center;
  margin: 50px 0;
  font-family: 'Dancing Script', serif;
  font-size: 36px;
  font-weight: normal;
  color: #1b3949;
  width: 800px;

  @media (max-width: 800px) {
    width: 100%;
  }
}
