@import '../../../scss/variables';

.chatField {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: $base-text-color-2;
  font-family: $font-family-second;
}
