@import '../../../scss/variables';

.containerSloganField {
  position: relative;
  width: 60%;
  //height: 510px;
  background: url(../../../assets/base-bg.jpg);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1400px) {
    background-position-x: 94%;
  }

  @media (max-width: 1024px) {
    width: 50%;
    background-position-x: 97%;
  }

  @media (max-width: 768px) {
    background: none;
    position: static;
    width: 0;
  }
}

.slogan {
  position: absolute;
  top: -120px;
  left: 50px;
  width: 80%;
  font-size: 36px;
  font-family: $font-family-second;
  color: $base-text-color-2;
  margin: 0;

  @media (max-width: 768px) {
    top: 50px;
    left: 20px;
    width: 90%;
    padding-right: 244px;
    font-size: 30px;
  }
}

.markBold {
  font-weight: bolder;
  color: #286965;
  background: #f7de7ba9;
}
  
.markItal {
  font-style: italic;
  font-size: 38px;
  color: #295972;
}