@import '../../../scss/variables';

.containerSloganField {
  position: relative;
  width: 60%;
  height: 100%;
  background: url(../../../assets/base-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  @media (max-width: $s-screen) {
    position: static;
    width: 50%;
  }

  @media (max-width: $xs-screen) {
    background: none;
    width: 0;
  }
}

.slogan {
  position: absolute;
  top: -10%;
  left: 50px;
  width: 80%;
  font-size: 36px;
  font-family: $font-family-second;
  color: $base-text-color-2;
  margin: 0;

  @media (max-width: $s-screen) {
    top: 25px;
    width: 60%;
  }

  @media (max-width: $xs-screen) {
    font-size: 26px;
    width: 53%;
    line-height: 42px;
  }
}

.markBold {
  font-weight: bolder;
  color: #286965;
  background: #f7de7ba9;
}
  
.markItal {
  font-style: italic;
  font-size: 38px;
  color: #295972;

  @media (max-width: $xs-screen) {
    font-size: 30px;
  }
}