@import '../../../scss/variables';
@import '../../../scss/style';

.containerSloganField {
  position: relative;
  width: 60%;
  height: 510px;
  background: url(../../../assets/base-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slogan {
  position: absolute;
  top: -120px;
  left: 50px;
  width: 80%;
  font-size: 36px;
  font-family: $font-family-second;
  color: $base-text-color-2;
  margin: 0;
}

.markBold {
  font-weight: bolder;
  color: #286965;
  background: #f7de7ba9;
}
  
.markItal {
  font-style: italic;
  font-size: 38px;
  color: #295972;
}