.wrapper {
  position: relative;
  width: 100%;
  //max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 880px;

  @media (max-width: 1024px) {
    min-height: 840px;
  }

  @media (max-width: 768px) {
    min-height: auto;
  }
}
