@import '../../../../scss/variables.scss';

.kickBtn {
  border: none;
  cursor: pointer;
  transition: .4s;
  background: transparent;
  margin: 0;
  padding: 0;
  &:active {
    transform: scale(.8);
  }
  .kickIco {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
  }
  &:disabled {
    opacity: .5;
    &:active {
      transform: none;
    }
  }
}
.modalContent {
  mark {
    background-color: $light-yellow;
  }
}