@import '../../../scss/variables';

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;

  .name {
    font-family: $font-family-first;
    border: none;
    background: transparent;
    font-size: 34px;
  }

  .input {
    border: none;
    border-bottom: 1px solid grey;
    font-family: $font-family-first;
    font-size: 34px;
  }

  .invalid {
    border-color: $error-color;
  }

  .buttonWrap {
    margin-left: 15px;
  }

  .notEditable {
    display: none;
  }

  .issues {
    font-family: "Dancing Script", serif;
    font-size: 26px;
    margin-left: 15px;
  }

  .error {
    font-size: 12px;
    color: $error-color;
  }

  .inputWrap {
    display: flex;
    flex-direction: column;
  }
}
