@import '../../../scss/variables';

.chat {
  padding: 10px 10px 15px;
  width: 500px;
  border: 1px solid $blue;
  margin-top: 20px;
  background: white;
  border-radius: 5px;
  max-height: calc(100vh - 106px);
  position: relative;
  z-index: 1000;
}

