@import '../../scss/variables.scss';

.wrapper {
  margin: 0 auto;
  min-height: calc(100vh - 70px - 106px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  padding: 20px;
  .statItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    p {
      color: $base-text-color-2;
      font-family: $font-family-second;
      font-size: 24px;
      margin-right: 20px;
    }
  }
  .buttons {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
