@import '../../../../scss/variables.scss';

.btn_bordered {
    background: whitesmoke;
    border: 2px solid $dark-blue;
    color: $dark-blue;
    transition: .4s;
    &:hover {
        background: $light-blue;
    }
    &:active {
        transform: scale(.9);
    }
}
