@import '../../../../scss/variables.scss';

.sendMessageBtn {
  cursor: pointer;
  transition: .4s;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(.9);
  }
  .sendMessageIco {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
  }
}