@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&display=swap');

$font-family-first: 'Dancing Script', serif;
$font-family-second: 'Montserrat', serif;

$blue: #2d5b74;
$light-blue: #b0cacb;
$dark-blue: #1b3949;
$emerald: #49aaa3;
$light-emerald: #7ecfc9;
$yellow: #facf24;
$light-yellow: #f7de7b;
$pink: #d5bda3;



$base-text-color: #333;
$base-text-color-2: #1b3949;
$disabled-color: #bdbdbd;
$error-color: #ff6450;

$shadow: 0 0.3rem 0.5rem #211b588a;